// Colores
$primary-color: #000;
$font-color: #131313;
$shadow: 0px 0px 40px rgba($primary-color, .2);
// Fuentes
$title-font: 'Raleway';
$pagraph-font: 'Times New Roman';
$cite-font: 'Open Sans';
// Tamano de Fuentes
$tablet: 768px;
$mobile: 362px;